#cloud-config
# yaml-language-server: $schema=https://raw.githubusercontent.com/canonical/cloud-init/main/cloudinit/config/schemas/schema-cloud-config-v1.json
---
locale: en_US.UTF-8

users:
  - name: __USERNAME__
    gecos: __USERNAME__
    groups: users,sudo,netdev,audio
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash

disable_root: true

write_files:
  - path: /etc/wsl.conf
    # append: true
    content: |
      [boot]
      systemd = true
      command = "/mnt/c/Users/__USERNAME__/.wsl/startup.sh"

      [user]
      default = __USERNAME__

      [network]
      hostname = __HOSTNAME__
      generateHosts = false
      # generateResolvConf = false

      [interop]
      enabled = true
      appendWindowsPath = false

      [automount]
      enabled = true
      mountFsTab = true

  - path: /etc/hosts
    content: |
      127.0.0.1       localhost
      127.0.1.1       __HOSTNAME__.localdomain     __HOSTNAME__

      # The following lines are desirable for IPv6 capable hosts
      ::1     ip6-localhost ip6-loopback
      fe00::0 ip6-localnet
      ff00::0 ip6-mcastprefix
      ff02::1 ip6-allnodes
      ff02::2 ip6-allrouters

apt:
  sources:
    git-core:
      source: ppa:git-core/ppa
    golang:
      source: ppa:longsleep/golang-backports

# update apt database
package_update: true
# upgrade the system
package_upgrade: true
# reboot after package install if necessary
package_reboot_if_required: true

packages:
  - apt-transport-https
  - ca-certificates
  - curl
  - wget
  - gpg
  - gnupg2
  - wslu
  - dos2unix
  - software-properties-common
  - apache2-utils
  - git
  - jq
  - make
  - build-essential
  - unzip
  - zip
  - dnsutils
  - direnv
  - mc
  - zsh
  - age
  - golang-go

runcmd:
  - hostnamectl set-hostname __HOSTNAME__

final_message: cloud-init done
